<div class="breadcrumb-area pt-20 pb-20" style="background-image: url(/public/shop/img/bg/12.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="/">home</a></li>
                <li><%= page %></li>
            </ul>
        </div>
    </div>
</div>