<header class="res-header-sm">
    <div class="header-top-wrapper theme-bg-2">
        <div class="container">
            <div class="header-top">
                <div class="header-info">
                    <span>Contact us - 00 221 225 123-30  or  <a href="#">info@domain.com</a></span>
                </div>
                <div class="book-login-register">
                    <ul>
                        <% if (user) { %>
                            <li><a href="/wishlist"><i class="ti-heart"></i>wishlist</a></li>
                            <li><a href="/auth/logout"><i class="ti-user"></i>Logout</a></li>
                         
                        <% } else { %>
                            <li><a href="/auth/login"><i class="ti-user"></i>login</a></li>
                            <li><a href="/auth/register"><i class="ti-settings"></i>register</a></li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom clearfix">
        <div class="container">
            <div class="header-bottom-wrapper">
                <div class="logo-2 ptb-40">
                    <a href="/">
                        <h1 class="text-bold">Bookify</h1>
                    </a>
                </div>
                <div class="menu-style-2 book-menu menu-hover">
                    <nav>
                        <ul>
                            <li><a class="text-bg-dark-light"  href="/">home</a>  
                            </li>
                            <li><a  class="text-bg-dark-light" href="/shop">shop</a>
                                
                            </li>
                            <li><a class="text-bg-dark-light" href="/about">about</a>
                                
                            </li>
                            <li><a href="/contact">contact</a></li>
                            <li>
                                <% if(user){%>
                                    <a href="#">Account</a>
                                    <ul class="single-dropdown">
                                        <li><a class="text-bg-dark-light" href="/user/profile">Profile</a></li> 
                                        <li><a class="text-bg-dark-light" href="/user/address">Address</a></li> 
                                         <li><a class="text-bg-dark-light" href="/order">Orders</a></li>
                                         <li><a class="text-bg-dark-light" href="/user/wallet">Wallet</a></li>
                                        </ul>
                               <% } %>

                            </li>
                        </ul>
                    </nav>
                </div>
                <% if(user){ %>

                    <div class="header-cart-2">
                        <a class="icon-cart" href="/cart">
                            <i class="ti-shopping-cart"></i>
                            <span id="cartCount" class="handicraft-count"><%=cartCount %></span>
                        </a>
                    </div>

                <% } %>
            </div>
            <div class="row">
                <div class="mobile-menu-area d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a class="text-bg-dark-light" href="/">HOME</a>
                                </li>
                                <li><a class="text-bg-dark-light" href="/shop">shop</a>
                                </li>
                                <li><a class="text-bg-dark-light" href="/about">about us</a>
                                </li>
                                <li><a class="text-bg-dark-light" href="/contact"> Contact  </a></li>
                                <li><a class="text-bg-dark-light" href="/account">Account</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>