<div class="container">
 <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Add New Banner
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="bannerImage">Banner Image URL</label>
              <input type="text" class="form-control" id="bannerImage" placeholder="Enter banner image URL">
            </div>
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" class="form-control" id="startDate">
            </div>
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" class="form-control" id="endDate">
            </div>
            <div class="form-group">
              <label for="bannerLink">Banner Link</label>
              <input type="text" class="form-control" id="bannerLink" placeholder="Enter banner link URL">
            </div>
            <button type="submit" class="btn btn-primary">Add Banner</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>