<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Edit Banner
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="bannerImage">Banner Image URL</label>
                <input type="text" class="form-control" id="bannerImage" placeholder="Enter banner image URL" value="banner_image_url_here">
              </div>
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" value="2023-09-15">
              </div>
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" value="2023-09-30">
              </div>
              <div class="form-group">
                <label for="bannerLink">Banner Link</label>
                <input type="text" class="form-control" id="bannerLink" placeholder="Enter banner link URL" value="banner_link_here">
              </div>
              <button type="submit" class="btn btn-primary">Save Changes</button>
              <a href="#" class="btn btn-secondary ml-2">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>