<div class="container ">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 border border-dark p-4 ">
        <%- include('../../partials/flash-message.ejs') %>
        <h2 class="text-center mb-4">Login</h2>
        <form action="/admin/auth/login" method="post">
          <div class="form-group ">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-2">Login</button>
        </form>
      </div>
    </div>
  </div>