<div class="container">
    <div class="row mt-5">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center text-danger">Sorry, <%= user.firstName %> you are Blocked</h1>
            <p class="card-text text-center">You are blocked from accessing this content.</p>
            <p class="text-center" ><a class="btn btn-danger h-auto" href="/auth/logout">Logout</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>