<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/ezone/ezone/index-book.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 07:48:21 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book - eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="/shop/css/bootstrap.min.css">
    <link rel="stylesheet" href="/shop/css/magnific-popup.css">
    <link rel="stylesheet" href="/shop/css/animate.css">
    <link rel="stylesheet" href="/shop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/shop/css/themify-icons.css">
    <link rel="stylesheet" href="/shop/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/shop/css/meanmenu.min.css">
    <link rel="stylesheet" href="/shop/css/bundle.css">
    <link rel="stylesheet" href="/shop/css/style.css">
    <link rel="stylesheet" href="/shop/css/responsive.css">
    <script src="/shop/js/vendor/modernizr-3.11.7.min.js"></script>
</head>

<body>

<!---Header--->
<%- include('./partials/header.ejs') %>
<!--Header end-->

<% if (page === "home") { %>

<%}else{%>
<!--breadcrumbs-->
<%- include('./partials/breadcrumbs.ejs') %>
<!--breadcrumbs end-->
<% } %>

<!--main-->
<%- body %>
<!--main end-->

<!--footer-->
<%- include('./partials/footer.ejs') %>
<!--footer end-->


<!-- all js here -->
<script src="/shop/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/shop/js/popper.js"></script>
<script src="/shop/js/bootstrap.min.js"></script>
<script src="/shop/js/jquery.magnific-popup.min.js"></script>
<script src="/shop/js/isotope.pkgd.min.js"></script>
<script src="/shop/js/imagesloaded.pkgd.min.js"></script>
<script src="/shop/js/jquery.counterup.min.js"></script>
<script src="/shop/js/waypoints.min.js"></script>
<script src="/shop/js/ajax-mail.js"></script>
<script src="/shop/js/owl.carousel.min.js"></script>
<script src="/shop/js/plugins.js"></script>
<script src="/shop/js/main.js"></script>
</body>


<!-- Mirrored from htmldemo.net/ezone/ezone/index-book.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 07:48:50 GMT -->
</html>