<div class="container mt-5">
    <div class="card p-3 p-sm-4 shadow-lg rounded " style="background-color: #f3f5f5;">
        <h2 class="text-center mb-4">Add New Address</h2>
        <form action="/user/add-address" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="street" class="form-label">Street</label>
                <input type="text" class="form-control form-control-sm" id="city" name="street" required>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control form-control-sm" id="state" name="city" required>
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control form-control-sm" id="address" name="state" required>
            </div>
            <div class="mb-3">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="text" class="form-control form-control-sm" id="pincode" name="pincode" required>
            </div>
            <div class="mb-3">
                <label for="landmark" class="form-label">Landmark</label>
                <input type="text" class="form-control form-control-sm" id="landmark" name="landmark">
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile Number</label>
                <input type="text" class="form-control form-control-sm" id="mobile" name="mobile" required>
            </div>
                <label for="alternativenumber" class="form-label">Alternative Number</label>
                <input type="text" class="form-control form-control-sm" id="alternativenumber" name="alternativenumber">
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-2">Add</button>
        </form>
    </div>
</div>
