<!-- Wallet Information -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-info mb-3">
                <div class="card-header bg-info text-white text-center">
                    <h5 class="card-title">Wallet Balance</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-text text-center">$500.00</h3>
                    <div class="text-center">
                        <button class="btn btn-info mt-3 mr-2 h-auto">Add Funds</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
